.btn {
  display: inline-block;
  line-height: 1;
  font-weight: 700;
  width: 100%;
  border: none;
  outline: none;
  padding: 17px;
}

.btn-accent {
  background-color: #D4C17F;
  color: #FFF;
  transition: all .09s ease-out;
}

.btn-accent:hover {
  background-color: #907c38;
  color: #FFF;
}

.form__item:nth-child(3),
.form__item:nth-child(4) {
  margin-bottom: 0;
}